<app-header [backButton]="0" [backButtonPath]="backPath"></app-header>

<ion-content>
  <div id="reset-password-content">
    <div id="reset-form">
      <form [formGroup]="resetForm" (ngSubmit)="resetPassword()">
        <input ion-input class="reset-input" [class.error]="hasError('email', 'required') || hasError('email', 'email')"
          formControlName="email" type="email" placeholder="{{ 'FORM_FIELDS.email' | translate }}" />

        <div class="error" *ngIf="hasError('email', 'required')">
          {{ 'FORM_ERRORS.required' | translate }}
        </div>

        <div class="error" *ngIf="hasError('email', 'email')">
          {{ 'FORM_ERRORS.invalid_email' | translate }}
        </div>

        <div class="error" *ngIf="showFirebaseError" [innerHTML]="firebaseMessage">
        </div>

        <button ion-button class="reset-button ion-activatable" type="submit">
          <ion-ripple-effect></ion-ripple-effect>
          {{ 'RESET_PASSWORD.reset_password' | translate }}
        </button>
      </form>
    </div>
  </div>
</ion-content>
