$margin-left: 10px;

.settings-header {
	background-color: #0635c9;
	padding-top: 30px;

	.profile-letter-wrapper {
		$letter-width: 4em;
		width: $letter-width;
		height: $letter-width;
		background-color: #1ae4be;
		border-radius: $letter-width;
		margin: 0 auto;

		span {
			display: block;
			text-align: center;
			line-height: $letter-width / 2;
			font-size: 2em;
			text-transform: capitalize;
			color: white;
		}
	}

	.profile-name {
		display: block;
		text-align: center;
		color: white;
		font-size: 1rem;
		margin-top: 10px;
	}

	.logout-wrapper {
		display: block;
		margin-top: 15px;

		&:hover {
			cursor: pointer;
		}

		.logout-profile {
			color: white;

			.logout-icon {
				font-size: 2.5rem;
				margin-left: $margin-left;
				float: left;
			}

			.logout-text {
				line-height: 2.5rem;
				display: block;
				float: left;
				margin-left: 5px;
			}

			.logout-clear {
				clear: both;
				margin-bottom: 1rem;
			}
		}
	}
}