<div class="settings-header">
  <div class="profile-letter-wrapper">
    <span [innerHTML]="userLetter">{{getUserLetter()}}</span>
  </div>

  <div class="profile-name">
    <span [innerHTML]="userName">{{userName}}</span>
  </div>

  <div class="logout-wrapper">
    <a class="logout-profile" ion-button (click)="logOut()">
      <ion-icon class="logout-icon" name="exit"></ion-icon>
      <span class="logout-text">Cerrar sesión</span>
      <div class="logout-clear"></div>
    </a>
  </div>
</div>