<app-header [showMenuButton]="0"></app-header>

<ion-content>

<settings-header [userName]="getUserName()"></settings-header>

  <div class="user-actions-wrapper">
    
    <div *ngFor="let route of routes">
      <a class="route-button {{route.icon}}-button" ion-button (click)="goToPage(route.path)">
        <ion-icon class="icon" name="{{route.icon}}"></ion-icon>
        <span class="text">{{route.text | translate}}</span>
      </a>
      <div class="button-clear"></div>
    </div>

    <a class="route-button help-profile" ion-button (click)="presentInfo('help')">
      <ion-icon class="icon" name="help"></ion-icon>
      <span class="text">{{ 'SETTINGS.help' | translate}}</span>
    </a>
    <div class="button-clear"></div>
  </div>

  <div class="hr"></div>

  <div class="user-actions-wrapper">

    <a class="route-button test-profile disabled" ion-button>
      <ion-icon class="icon" name="star"></ion-icon>
      <span class="text">{{ 'SETTINGS.app_value' | translate}}</span>
    </a>
    <div class="button-clear"></div>

    <a class="route-button test-profile disabled" ion-button>
      <ion-icon class="icon" name="information"></ion-icon>
      <span class="text">{{ 'SETTINGS.legal_advise' | translate}}</span>
    </a>
    <div class="button-clear"></div>
  </div>

  <div class="hr"></div>

  <div class="user-actions-wrapper">
    <a class="route-button remove-profile" ion-button (click)="presentInfo('remove')">
      <ion-icon class="icon" name="trash"></ion-icon>
      <span class="text">{{ 'SETTINGS.delete_account' | translate}}</span>
    </a>
    <div class="button-clear"></div>
  </div>

</ion-content>
