ion-avatar {
	--background: red;
}

$margin-left: 10px;

.user-actions-wrapper {
	margin-left: $margin-left;
	margin-top: 20px;

	.route-button {
		display: block;
		color: gray;
		font-size: 1rem;
		padding: 10px 0;

		&:hover {
			cursor: pointer;
		}

		.icon {
			font-size: 1.5rem;
			float: left;
		}

		.text {
			display: block;
			float: left;
			line-height: 1.5rem;
			margin-left: 10px;
		}

		&.remove-profile {
			color: red;
		}

		&.disabled {
			color: lightgray;
		}
	}

	.button-clear {
		clear: both;
		margin-bottom: 15px;
	}
}

.hr {
	border-bottom: 1px solid #ccc;
	margin: 10px 0;
	width: 100%;
}