<app-header [showMenuButton]="0"></app-header>

<ion-content>
  <div ion-title class="section-title">{{ 'NEW.new' | translate }}</div>

  <div id="new-event-content">
    <div id="event-form">
      <form [formGroup]="eventForm" (ngSubmit)="createEvent()">

        <ion-item class="type-select">
          <ion-label>{{ 'NEW.type' | translate }}</ion-label>
          <ion-select formControlName="type" 
                      okText="Okay"
                      cancelText="Dismiss"
                      [class.error]="hasError('type', 'required')"
                      (ionChange)="setTypeValues()">

            <ion-select-option *ngFor="let type of types" 
                               [value]="type.value">{{type.name | translate}}</ion-select-option>
          </ion-select>
        </ion-item>

        <div class="error" *ngIf="hasError('type', 'required')">
          {{ 'FORM_ERRORS.required' | translate }}
        </div>

        <ion-item class="category-select">
          <ion-label>Categoría</ion-label>
          <ion-select formControlName="category" 
                      okText="Okay" 
                      cancelText="Dismiss"
                      [class.error]="hasError('category', 'required')"
                      disabled="{{!typeSelected}}">
            <ion-select-option *ngFor="let category of selectedCategories"
                               [value]="category.value">{{category.name | translate}}</ion-select-option>
          </ion-select>
        </ion-item>

        <div class="error" *ngIf="hasError('category', 'required')">
          {{ 'FORM_ERRORS.required' | translate }}
        </div>

        <ion-label class="label">{{ 'NEW.title' | translate }}</ion-label>
        <input ion-input 
               class="new-input" 
               formControlName="title" 
               [class.error]="hasError('title', 'required')"
               type="text" />

        <div class="error" *ngIf="hasError('title', 'required')">
          {{ 'FORM_ERRORS.required' | translate }}
        </div>

        <ion-label class="label">{{ 'NEW.description' | translate }}</ion-label>
        <textarea ion-textarea 
                  class="new-textarea" 
                  formControlName="description"
                  [class.error]="hasError('description', 'required')"
                  type="text"
                  cols="5"></textarea>
        
        <div class="error" *ngIf="hasError('description', 'required')">
          {{ 'FORM_ERRORS.required' | translate }}
        </div>

        <ion-label class="label">{{ 'NEW.contact' | translate }}</ion-label>
        <textarea ion-textarea
                  class="new-textarea"
                  formControlName="contact"
                  [class.error]="hasError('contact', 'required')"
                  type="text" 
                  cols="3"></textarea>

        <div class="error" *ngIf="hasError('contact', 'required')">
          {{ 'FORM_ERRORS.required' | translate }}
        </div>

        <div class="external-data">
          <a class="address-button" 
             *ngIf="!hideAddressForm" 
             ion-button 
             (click)="saveLocation()">
            <span>{{ 'NEW.add_location' | translate }}</span>
          </a>

          <a class="address-button" 
             *ngIf="showAddressResult" 
             ion-button 
             (click)="showLocationForm()">
            <span>{{ 'NEW.add_location_manually' | translate }}</span>
          </a>

          <div *ngIf="showSpinner" class="location-spinner-wrapper">
            <ion-spinner class="location-spinner" name="circles" color="tertiary"></ion-spinner>
          </div>

          <ion-row *ngIf="!hideAddressForm" class="address-section">

            <ion-col size="4" class="zip-code">
              <ion-label class="label">{{ 'NEW.zip_code' | translate }}</ion-label>
              <input ion-input 
                     class="new-input" 
                     [class.error]="hasError('zipCode', 'pattern')"
                     formControlName="zipCode" 
                     type="text" />
        
              <div class="error" *ngIf="hasError('zipCode', 'pattern')">
                {{ 'NEW.zip_code_error' | translate }}
              </div>
            </ion-col>

            <ion-col size="8">
              <ion-label class="label">{{ 'NEW.avenue' | translate }}</ion-label>
              <input ion-input 
                     class="new-input" 
                     formControlName="avenue" 
                     type="text" />
            </ion-col>

            <ion-col size="9">
              <ion-label class="label">{{ 'NEW.street' | translate }}</ion-label>
              <input ion-input 
                     class="new-input" 
                     formControlName="street" 
                     type="text" />
            </ion-col>

            <ion-col size="3">
              <ion-label class="label">{{ 'NEW.number' | translate }}</ion-label>
              <input ion-input 
                     class="new-input" 
                     formControlName="number"
                     [class.error]="hasError('number', 'pattern')"
                     type="text" />
            </ion-col>

            <div class="error" *ngIf="hasError('zipCode', 'pattern')">
              {{ 'NEW.number_error' | translate }}
            </div>

          </ion-row>

          <ion-row *ngIf="showAddressResult">
            <ion-col size="12">
              <span class="location-info">{{ 'NEW.location_success' | translate }}</span>
            </ion-col>
          </ion-row>

          <a class="picture-button" 
             *ngIf="!imageResult" 
             ion-button 
             (click)="uploadPicture()">
            <span>{{ 'NEW.add_picture' | translate }}</span>
          </a>

          <ion-row *ngIf="imageResult">
            <ion-col size="12">
              <span (click)="presentImageModal()" 
                    class="location-info">{{ 'NEW.visualize_picture' | translate }}</span>
            </ion-col>
          </ion-row>

        </div>

        <button ion-button class="new-button ion-activatable" type="submit">
          <ion-ripple-effect></ion-ripple-effect>
          {{ 'NEW.create' | translate }}
        </button>

      </form>
    </div>
  </div>
</ion-content>
