<app-header></app-header>

<ion-content>
  <div id="login-content">
    <div id="login-form">
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <input ion-input 
              class="login-input"
              [class.error]="hasError('email', 'required') || hasError('email', 'email')"
              formControlName="email" 
              type="email" 
              placeholder="{{ 'FORM_FIELDS.email' | translate }}" />

        <div class="error" *ngIf="hasError('email', 'required')">
          {{ 'FORM_ERRORS.required' | translate }}
        </div>

        <div class="error" *ngIf="hasError('email', 'email')">
          {{ 'FORM_ERRORS.invalid_email' | translate }}
        </div>

        <input ion-input 
               class="login-input password-input"
               [class.error]="hasError('password', 'required')"
               formControlName="password" 
               type="password"
               placeholder="{{ 'FORM_FIELDS.password' | translate }}" />

        <a class="password-button" ion-button (click)="goToResetPassPage()">
          {{ 'LOGIN.forgot_password' | translate }}
        </a>

        <div class="error" *ngIf="hasError('password', 'required')">
          {{ 'FORM_ERRORS.required' | translate }}
        </div>

        <div class="error" *ngIf="showFirebaseError" [innerHTML]="firebaseMessage">
        </div>

        <button ion-button class="login-button ion-activatable" type="submit">
          <ion-ripple-effect></ion-ripple-effect>
          {{ 'LOGIN.login' | translate }}
        </button>
      </form>

    </div>

    <div id="register-section">
      <span>{{ 'LOGIN.no_account' | translate }}</span>
      <button ion-button (click)="goToRegisterPage()">{{ 'LOGIN.sign_up' | translate }}</button>
    </div>
  </div>

</ion-content>