@import '../../assets/css/app-variables.scss';

.sidebar--menu {
	.menu-item {
		&:hover {
			cursor: pointer;
		}
	}
}

ion-item.active {
	--background: #eaeaea;
}

ion-toolbar {
	--background: #0635c9;
	--color: white;
}

$icon-height: 40px;

ion-icon {
	display: block;
	float: left;
	font-size: $icon-height;
	margin-left: 10px;
}

ion-title {
	display: block;
	float: left;
	line-height: $icon-height;
	padding: 0;
	margin-left: 5px;

	width: calc(100% - 70px);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}