<ion-menu class="sidebar--menu" side="start" contentId="content">
  <ion-header>
    <ion-toolbar>
      <ion-icon name="contact" class="profile-icon"></ion-icon>
      <ion-title [innerHtml]="menuTitle"></ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list *ngFor="let page of pages">
      <ion-menu-toggle auto-hide="true">
        <ion-item class="menu-item" 
                  lines="none" 
                  [class.active]="isActive(page)"
                  (click)="openPage(page.path)">
          {{ page.title | translate }}
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>
