<ion-header>
  <ion-toolbar class="new-background-color">

    <ion-buttons slot="start">
      <ion-menu-button *ngIf="showMenuButton === 0"></ion-menu-button>
      <ion-back-button *ngIf="backButton === 0" defaultHref="{{backButtonPath}}"></ion-back-button>
    </ion-buttons>

    <div class="title-content">
      <ion-img class="toolbar-image" [class.withLateralMenu]="showMenuButton === 0" src="assets/img/icon.png"></ion-img>
    </div>
  </ion-toolbar>
</ion-header>