@import '../../assets/css/app-variables.scss';

$config-icon-size: 40px;

.toolbar-image {
	max-width: 2.5rem;
	margin-left: calc(50% - #{$config-icon-size / 2});

	&.withLateralMenu {
		margin-left: calc(50% - #{$config-icon-size});
	}
}

ion-back-button {
	position: absolute;
}

.new-background-color {
	--background: #d5fff6;
}

.title-content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: baseline;
}