.events-title {
	display: block;
	text-align: center;
	color: gray;
	text-transform: uppercase;
	font-size: .9rem;
}

.no-events-wrapper {
	text-align: center;
	margin-top: 65px;
	opacity: 0.7;

	img {
		max-width: 300px;
	}
}