<ion-app>
  <app-menu></app-menu>

  <div *ngIf="showSplash" class="splash">
    <div class="sk-folding-cube">
      <div class="sk-cube1 sk-cube"></div>
      <div class="sk-cube2 sk-cube"></div>
      <div class="sk-cube4 sk-cube"></div>
      <div class="sk-cube3 sk-cube"></div>
    </div>
  </div>

  <ion-router-outlet id="content"></ion-router-outlet>
</ion-app>
