<app-header [backButton]="0" [backButtonPath]="'fake'" (click)="closeModal()"></app-header>

<ion-content>
  <div class="picture-img-wrapper">
    <img class="picture-img" [src]="image" alt="image" />
  </div>

  <div class="picture-actions">
    <button ion-button class="update-button" (click)="updatePicture()">{{ 'MODAL.choose_other_img' | translate }}</button>
    <button ion-button class="delete-button" (click)="deletePicture()">{{ 'MODAL.delete' | translate }}</button>
  </div>

</ion-content>
