.picture-img-wrapper {
	text-align: center;
	margin-top: 1.5rem;

	.picture-img {
		width: 85%;
		margin: 0 auto;
	}
}

.picture-actions {
	width: 85%;
	margin: 0 auto;
	
	.update-button {
		color: black;
		border: 0px;
		border-radius: 2rem;
		font-size: 1rem;
		height: 3rem;
		background-color: #16cddf;
		text-align: center;
		margin: 10px 0;
		padding: 0 2rem;
		display: block;
		width: 100%;

		&:hover {
			cursor: pointer;
		}
	}

	.delete-button {
		color: black;
		border: 0px;
		border-radius: 2rem;
		font-size: 1rem;
		height: 3rem;
		background-color: #e74c3c;
		text-align: center;
		margin: 10px 0;
		padding: 0 2rem;
		display: block;
		width: 100%;

		&:hover {
			cursor: pointer;
		}
	}
}
