<app-header [backButton]="0" [backButtonPath]="'settings'"></app-header>

<ion-content>
  <div ion-title class="section-title">{{ 'USER_DATA.your_data' | translate}}</div>

  <div id="update-content">
    <div id="updater-form">
      <form [formGroup]="updaterForm" *ngIf="isDone" (ngSubmit)="update()">

        <ion-label class="label">{{ 'USER_DATA.email' | translate}}</ion-label>
        <input ion-input class="updater-input" formControlName="email" disabled="true" type="email" />

        <ion-label class="label">{{ 'USER_DATA.name' | translate}}</ion-label>
        <input ion-input class="updater-input" formControlName="name" type="text" />

        <ion-item class="locale-select">
          <ion-label>{{ 'USER_DATA.locale' | translate}}</ion-label>
          <ion-select formControlName="locale" [value]="user.locale || 'es'" okText="Okay" cancelText="Dismiss">
            <ion-select-option value="es">{{ 'USER_DATA.es' | translate}}</ion-select-option>
            <ion-select-option value="en">{{ 'USER_DATA.en' | translate}}</ion-select-option>
          </ion-select>
        </ion-item>

        <button ion-button type="submit" class="updater-button ion-activatable">
          <ion-ripple-effect></ion-ripple-effect>
          {{ 'USER_DATA.update' | translate}}
        </button>
      </form>
    </div>
  </div>
</ion-content>
