<app-header></app-header>

<ion-content>

  <div id="register-content">
    <div id="register-form">
      <form [formGroup]="registerForm" (ngSubmit)="register()">
        <input ion-input 
               class="register-input"
               [class.error]="hasError('email', 'required') || hasError('email', 'email')"
               formControlName="email"
               type="email"
               placeholder="{{ 'FORM_FIELDS.email' | translate }}" />

        <div class="error" *ngIf="hasError('email', 'required')">
          {{ 'FORM_ERRORS.required' | translate }}
        </div>

        <div class="error" *ngIf="hasError('email', 'email')">
          {{ 'FORM_ERRORS.invalid_email' | translate }}
        </div>

        <input ion-input 
               class="register-input"
               [class.error]="hasError('password', 'required')" 
               formControlName="password"
               type="password"
               placeholder="{{ 'FORM_FIELDS.password' | translate }}" />

        <div class="error" *ngIf="hasError('password', 'required')">
          {{ 'FORM_ERRORS.required' | translate }}
        </div>

        <input ion-input class="register-input password-input"
               [class.error]="hasError('passwordConfirmation', 'required')"
               formControlName="passwordConfirmation" 
               type="password"
               placeholder="{{ 'REGISTER.password_confirmation' | translate }}" />

        <div class="error" *ngIf="hasError('passwordConfirmation', 'required')">
          {{ 'FORM_ERRORS.required' | translate }}
        </div>

        <div class="error" *ngIf="registerForm.hasError('notSame')">
          {{ 'FORM_ERRORS.not_match' | translate }}
        </div>

        <button ion-button type="submit" class="register-button ion-activatable">
          <ion-ripple-effect></ion-ripple-effect>
          {{ 'REGISTER.register' | translate }}
        </button>
      </form>

    </div>
    
    <div id="login-section">
      <span>{{ 'REGISTER.have_account' | translate }}</span>
      <button ion-button (click)="goToLoginPage()">{{ 'REGISTER.sign_in' | translate }}</button>
    </div>
  </div>

</ion-content>
